.container {
  background: white;
  padding: 0.4rem !important;
  margin-bottom: 6rem !important;
  margin-left: 7%;
}

.title {
  font-weight: bold !important;
  color: black !important;
}
.text {
  font-weight: 400 !important;
  color: black !important;
}
.btn {
  color: black;
  background: orange;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: yellow;
}
.btn:hover {
  color: orange;
  background: black;
  border: none;
  text-decoration: none;
}
@media (min-width: 58rem) {
  .car-image {
    height: 15rem;
  }
}
